<manifest xmlns:android="http://schemas.android.com/apk/res/android">


<permission
        android:name="au.org.ala.fieldcapture.mobile.unisa.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
<uses-permission android:name="au.org.ala.fieldcapture.mobile.unisa.permission.MAPS_RECEIVE"/>

</manifest>